.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-card {
    width: 80%;
    margin-top: 15px;
    margin-left: auto   ;
    margin-right: auto;
  }
  