<mat-card class="example-card">
  <div class="form-container">
    <form [formGroup]="myForm"
     (ngSubmit)="onSudmit()">
      User: <input 
    
       type="text" class="form-control" formControlName="username">
      Password: <input type="password" class="form-control" formControlName="password">
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Enviar</button>
    </form>
  </div>
</mat-card>
