.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;}