<div>
    <ng-container>
      <figure>
        <img src="http://localhost:4500/assets/images/dashboard-screenshot.png"/>
        <figcaption>
          <small>Screenshot taken from: https://pixinvent.com/demo/convex-angular-bootstrap-admin-dashboard-template/landing-page/</small>
        </figcaption>
      </figure>
    </ng-container>
  </div>